<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
    <title>{{page.title}}</title>
  </head>

  <body>
    <header style="background-image: url('/assets/images/header-1.jpg');">
      <p class="headfont">About</p>
    </header>

    <div class="row">
      <div class="col-1"></div>
      <div class="col-7">
          You can contact me by 786789551@qq.com.
      </div>
      <div class="col-2">
        {% include var.html %}
      </div>

    </div>

    <footer>
      <p>Copyright©Mariah 2019.</p>
    </footer>
  </body>
</html>
