<!doctype html>
<html lang="en">
  <head>
    {% include head.html %}
    <title>Mariah's Blog</title>

  </head>

  <body>
    <header><br>
      <div class="headfont">Mariah</div>
      <a href="https://github.com/ooozy"  target="_blank">
        <img class="headerimg" src="/assets/images/github.svg" alt="github">
      </a>
      <a href="mailto:786789551@qq.com?&subject=Blog%20Question">
        <img class="headerimg" src="/assets/images/email.svg" alt="email">
      </a>
      <div class="saying">我觉得相互走来比较好</div><br>
    </header>



  <main class="row">
      <div class="col-2">
        {% include var.html %}
      </div>

      <div class="col-9">
        {% for post in site.posts %}
        <div class="row justify-content-center">
          <div class="col-1">
            <img class="col-1-img" src="/assets/images/灯泡.svg" alt="lamb">
          </div>

          <div class="col-2 timefont">{{post.date | date_to_string}}</div>

          <div class="col-6">
            <h5>{{post.title}}</h5>
            <p>{{post.excerpt}}</p>
            <a class="btn" href="{{post.url}}" target="_blank">More</a>
          </div>

        </div>
        {% endfor %}

    </div>
  </main>

  <footer>
    <p>Copyright©Mariah 2019.</p>
  </footer>

  </body>
</html>
