<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
    <title>{{page.title}}</title>
  </head>

  <body>
    <header style="background-image: url('/assets/images/header-1.jpg');">
      <p class="headfont">{{page.title}}</p>
      <p class="timefont" style="color:white;">{{page.date | date_to_string}}</p>
    </header>

    <main class="row">

      <div class="col-8">
        {{content}}
      </div>

      <div class="col-3">
        {% include var.html %}
      </div>

    </main>

    <footer>
      <p>Copyright©Mariah 2019.</p>
    </footer>
  </body>
</html>
